/**
*   Catalogue
*/
.catalogue {
    margin: auto;
    width: inherit;
    position: inherit; 
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 20px;
}
.catalogue .heading {
    width: 100%;
    display: block;
}
.catalogue .heading h1 {
    color: #000;
    margin-bottom: 0;
}
.catalogue .dis-grid {
    float: left;
    display: grid;
}
.catalogue input {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
.catalogue button {
    border: 0;
    height: 35px;
    letter-spacing: 1px;
    text-transform: inherit;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
button.cart-option {
    width: 100%;
    margin-bottom: 10px;
}
.catalogue .product {
    z-index: 9;
    width: 25%;
    padding: 0;
    float: left;
    color: #333;
    display: block;
    position: relative;
    padding-bottom: 10px;
}
.catalogue .product.hire {
    width: 23.5%;
}
.catalogue .product .product-inner {
    top: 30px;
    left: 2%;
    right: 2%;
    width: 96%;
    border-radius: 0;
    position: relative;
    background: #fff;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    -ms-box-shadow: 0 0 10px #aaa;
    -o-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    -webkit-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -moz-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -ms-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -o-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
}
.catalogue .product .product-inner:hover {
    left: 10px;
    width: 92%;
    z-index: 999;
    cursor: pointer;
}
.catalogue .product .product-inner figure {
    padding: 15px;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: solid 1px #ccc;
}
.catalogue .product .product-inner figure img {
    margin: 0 auto;
    object-fit: fill;
    min-height: 420px;
    max-height: 420px;
    -webkit-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -moz-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -ms-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    -o-transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
    transition: all 0.3s cubic-bezier(0.62, 0.55, 0.38, 0.63);
}
.catalogue .product .product-inner figure figcaption {
    padding: 20px 0;
    line-height: 20px;
    text-align: center;
    min-height: 90px;
}
.catalogue .product .product-inner figure .price {
    float: left;
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.catalogue .product .product-inner .availability {
    font-size: 12px;
}
.catalogue .product .product-inner .color {
    width: 30px;
    height: 5px;
    float: right;
    margin-top: 13px;
    display: inline-block;
}
.catalogue .product button {
    height: 30px;
    border: none;
    margin: 0 10px;
    padding: 0 8px;
    font-size: 12px;
    letter-spacing: 1px;
    vertical-align: top;
    text-transform: inherit;
    background-color: #6c757d;
}
.catalogue .product button:hover {
    background-color: #000;
}
.card-img,
.card-img-top {
    border-radius: 0;
    min-height: 500px;
    max-height: 500px;
}
.close-box {
    cursor: pointer;
}
/* <select> styles */
.catalogue select {
    /* Reset */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    height: 2.75rem;
    font: inherit;
    cursor: pointer;
    border-radius: 0;
    padding: 0 4em 0 1em;
    background: url('../../images/icons/caret-down.png') no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
.catalogue select option {
    color: inherit;
    background-color: transparent;
}
.catalogue select:focus {
    outline: none;
}
.catalogue select::-ms-expand {
    display: none;
}
.catalogue #range-slider {
    width: 95%;
    margin-top: 5px !important;
}
.catalogue #slider-range {
    height: 5px;
    cursor: pointer;
    background-color: #ffc107;
}
.catalogue .ui-slider-horizontal .ui-slider-range {
    background-color: #000000;
}

.catalogue .ui-state-hover,
.catalogue .ui-widget-content .ui-state-hover,
.catalogue .ui-widget-header .ui-state-hover,
.catalogue .ui-state-active,
.catalogue .ui-widget-content .ui-state-active,
.catalogue .ui-state-focus,
.catalogue .ui-widget-content .ui-state-focus,
.catalogue .ui-widget-header .ui-state-focus,
.catalogue .ui-button:hover,
.catalogue .ui-button:focus {
    background: #fff !important;
    border: 1px solid #cccccc !important;
}
.catalogue .ui-slider .ui-slider-handle {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #6c757d;
    border-radius: 4px;
    height: 13px;
    width: 13px;
}
.catalogue #amount {
    width: 100%;
    margin-left: -5px;
    margin-top: 20px;
    font-weight: 300;
    color: #000000;
    font-size: 10px;
    text-align: center;
    line-height: 1.6875em;
    border-top: solid 1px #ccc;
}
.catalogue .nothing p {
    color: #000000;
    margin-top: 50px;
    text-transform: none;
}

/* Product details */
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    vertical-align: top;
    display: inline-block;
}
.w-79 {
    width: 79%;
}
.w-20 {
    width: 20%;
}
#thumb .owl-item .item {
    cursor: pointer;
    width: max-content;
}
.owl-item.active {
    width: auto !important;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
    display: block;
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.line-through {
    font-size: 13px;
    color: #a5a5a5;
    margin-left: 10px;
    display: inline-block;
	text-decoration: line-through;
}
.now-price {
    font-size: 1rem;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
img.product-details-black-friday {
    max-height: 150px;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    width: 20px;
    font-size: 0;
    float: right;
    color:#ccc;
    cursor: pointer;
	margin-bottom: 0;
    overflow: hidden;
	line-height: 21px;
    white-space: nowrap;
}
.rate:not(:checked) > label:before {
    top: -5px;
    left: -5px;
    font-size: 21px;
    content: '\2605' !important;
    background: transparent !important;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 10px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 50px;
    height: 35px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
.product-sizes {
    padding: 5px;
    position: relative;
    border-color: #ccc;
    background-color: #ccc;
}
.product-color {
    height: 5px;
    width: 50px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
    margin: 0;
	border-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
    padding: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
    font-size: 30px;
	color: #323232;
    background-color: transparent;
	border-bottom: 2px solid transparent;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #888;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 0;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
    margin-bottom: 5px;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
    color: #000;
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e6;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}
.zoom-img img {
    cursor: zoom-out;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.zoom-img img:hover {
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    object-fit: cover;
}
.img-select{
    display: flex;
}
.img-item {
    margin: 0.3rem;
}
.img-item img {
    height: 150px;
    max-width: 180px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.catalogue .product .product-inner figure.hair img {
    min-height: 230px;
    max-height: 230px;
}
@media screen and (min-width: 992px){
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 990px) {
    .catalogue .product {
        width: 33%;
    }
    .card-img-top {
        min-height: 350px;
        max-height: 350px;
    }
}

@media (max-width: 768px) {
    .catalogue .cart-option {
        width: 100%;
        margin-bottom: 15px;
    }
    .catalogue .cart-actions a {
        width: 100%;
        margin: 5px 0;
    }
    .catalogue .product {
        width: 50%;
    }
    .catalogue .product.hire {
        width: 45%;
    }
    .catalogue .product .product-inner figure img {
        max-height: 320px;
    }
    .max-h-550 {
        max-height: 620px;
    }
    .catalogue .product.hire .hire-actions {
        position: inherit;
    }
    .catalogue .product.hire button {
        margin: 5px 0;
    }
}

@media (max-width: 575px) {
    .product {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .catalogue .product .product-inner figure.hair img {
        min-height: 140px;
        max-height: 140px;
    }
    .product-info-tabs .nav-tabs {
        margin: 0 auto;
        width: fit-content;
    }
    .product-info-tabs .nav-tabs .nav-link {
        font-size: 20px;
    }
    .catalogue .product .product-inner figure img {
        min-height: 230px;
        max-height: 230px;
    }
    .catalogue .product .product-inner figure figcaption {
        min-height: 110px;
    }
    .product-name {
        font-size: 18px;
    }
    .product {
        width: 50%;
    }
    .card-img-top {
        min-height: 215px;
        max-height: 215px;
    }
    .hire-actions {
        right: 0 !important;
        bottom: 60px !important;
    }
}

.catalogue .product .product-inner figure img.black-fri {
    left: 15px;
    width: 60px;
    min-height: 50px;
    max-height: 50px;
    position: absolute;
}
.filter-ul {
    padding: 0;
    background-color: #6c757d;
}
.filter-ul li {
    padding-left: 0;
}
.filter-ul li {
    border-bottom: 1px solid #fff;
}
.filter-ul li a {
    color: #fff;
}
.active-cat {
    border-left: none;
    background-color: #343a40;
}
.sorter img {
    width: 25px;
    max-width: 0 25px;
}
.sorter .active-sort {
    border: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: solid 2px green;
}

.card {
    border-radius: 0;
}
.card-body h5 {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
    text-transform: none;
    letter-spacing: normal;
}
.hire-actions {
    right: 20px;
    bottom: 20px;
    position: absolute;
    font-size: xx-large;
}
.hire-actions .fa.yes {
    color: green;
}

.hire-actions .fa.no {
    color: red;
}
.daterangepicker {
    border-radius: 0px;
    width: fit-content;
}
.daterangepicker .calendar-table table th {
    color: #000;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    line-height: 15px;
}
.daterangepicker .drp-buttons .btn {
    text-transform: capitalize;
    letter-spacing: normal;
    padding: 0 20px;
    height: 35px;
    border: 0;
}
.cancelBtn.btn {
    background-color: red;
}
.total-hire h6 {
    text-transform: none;
}
.proof-address {
    top: -8px;
    left: 170px;
    padding: 5px;
    color: #fff;
    font-size: 9px;
    position: absolute;
    border-radius: 50%;
    background-color: #222222;
}
.product-dtl label.error {
    font-size: 12px;
    line-height: 11px;
    font-weight: normal;
}

.stage {
    top: 90%;
    left: 50%;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: transparent;
    transform: translate(-50%, -50%);
}
.stage .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    background: rgba(26, 159, 183, 0.8);
    border-radius: 50%;
    z-index: 3;
}
.stage .ping {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    box-shadow: inset 0 0 200px rgba(26, 159, 183, 0);
    border: 1px solid rgba(26, 159, 183, 0);
    border-radius: 50%;
    animation: ping 3s ease infinite;
    z-index: 2;
}

@keyframes ping {
    0% {
      width: 0px;
      height: 0px;
      box-shadow: inset 0 0 200px rgba(120, 161, 168, 0.2);
      border: 1px solid rgba(44, 54, 56, 0.8);
    }
    60% {
      box-shadow: inset 0 0 200px rgba(26, 159, 183, 0);
      border: 1px solid rgba(26, 159, 183, 0.1);
    }
    90% {
      width: 50vmin;
      height: 50vmin;
    }
}
